header.page__header(itemscope itemtype="https://schema.org/WPHeader")
  a.logo(
    href="https://mamm-edu.ru/courses/pro_svet_2021/"
    target="_blank" rel="noopener noreferrer"
  )
    include ../images/school-logo.svg
  ul
    li: include ./_nav
    li: theme-switch
