@use 'sass:map';
@use 'config';

:root {
  // ? https://piccalil.li/tutorial/fluid-typography-with-css-clamp/
  // https://websemantics.uk/tools/responsive-font-calculator/
  min-height: 0; // Safari fix
  // Viewport = 768—1680px (48–105rem)
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.8772)), 1.5rem);
}

body {
  @include config.typeset('sans', 400);

  // https://css-tricks.com/accessible-font-sizing-explained/
  --px2rem: calc((var(--px-size) / 16) * 1rem);
  --letter-spacing-0: 0.01em; // ~0.16px
  --letter-spacing-1: 0.025em; // ~0.4px
  --letter-spacing-2: 0.03em; // ~0.48px
  --letter-spacing-3: 0.078125em; // ~1.25px
  --letter-spacing-4: 0.09375em; // ~1.5px
  --text-pos-tracking-1: 0.01em;
  --text-pos-tracking-2: 0.03em;
  --text-neg-tracking-1: -0.01em;
  --text-neg-tracking-2: -0.03em;

  // font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-family:
    SuisseScreen,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;

  font-size: var(--px2rem);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-feature-settings: 'kern' 1, 'liga' 1;

  @include config.respond('retina') {
    & {
      /* autoprefixer: off */
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }
  }
}

p,
li, {
  word-break: break-word;
  word-wrap: break-word;
}

p { hyphens: auto; }

small { --px-size: 12; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include config.typeset('sans', 400);

  --px2rem: calc((var(--px-size) / 16) * 1rem);
  font-size: var(--px2rem);
  font-weight: 400;
  line-height: 1.25;
}

// https://github.com/primer/css/blob/main/src/utilities/typography.scss
$type-scale: (
  'mobile': (
    1: 40,
    2: 32,
    3: 26,
    4: 22,
    5: 18,
    6: 16
  ),
  'laptop': (
    1: 64,
    // 1: 48,
    2: 40,
    3: 32,
    4: 24,
    5: 20,
    6: 16
  )
);
$scale: map.get($type-scale, 'mobile');

@each $level, $size in $scale {
  h#{$level},
  .h#{$level} {
    --px-size: #{$size};

    @if $level < 3 {
      line-height: calc(1ex / 0.42);
    }
    @else {
      line-height: calc(1ex / 0.37);
    }
  }
}

h1,
h2,
h3 {
  // https://www.w3.org/TR/css-inline-3/#line-height
  text-edge: cap alphabetic;
  leading-trim: both;
}

// https://design.firefox.com/photon/visuals/typography.html
article {
  // 60-75ch
  --max-line-length: 39ch;
  max-inline-size: var(--max-line-length);

  h2,
  h3,
  h4 {
    // 30-40ch
    max-inline-size: 30ch;
  }

  p,
  li {
    --px-size: 14;
    max-inline-size: 100%;
  }
}

@supports (font-size-adjust: 1) {
  article {
    font-size-adjust: 0.5;
  }
}

@include config.respond('tablet') {
  $scale: map.get($type-scale, 'laptop');

  @each $level, $size in $scale {
    h#{$level},
    .h#{$level} {
      --px-size: #{$size};

      @if $level == 3 {
        line-height: calc(1ex / 0.42);
      }
    }
  }

  article {
    // 60-75ch
    --max-line-length: 66ch;

    h2,
    h3,
    h4 {
      // 30-40ch
      max-inline-size: 33ch;
    }

    p,
    li {
      --px-size: 14;
      max-inline-size: 100%;
    }
  }
}

// Text styles
$weights: (
  1: 100,
  2: 200,
  3: 300,
  4: 400,
  5: 500,
  6: 600,
  7: 700,
  8: 800,
  9: 900,
);

@mixin font-weight() {
  font-weight: #{$wght};
}

.h2,
.h6 {
  font-weight: 500;
}

// Text styles
[class$='title'] {
  font-size: calc(2.5rem + 4vw);
  font-weight: 500;
  line-height: 1.15;
  // text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-2);
}

[role$='subtitle'] {
  // https://adrianroselli.com/2020/08/be-wary-of-doc-subtitle.html
  --flow-space: var(--spacer-3);
}

[class*='headline'] {
  font-weight: 500;

  &:not(.review__headline) {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-2);
  }
}

[class$='subhead'] { font-weight: 500; }

[class*='body'],
[class*='lead'],
[class$='link'],
[class*='cta'] {
  @include config.typeset('sans', 400);
}

[class*='cta'] {
  font-weight: 500;
  line-height: 1.1;
}

[class*='overline'],
[class*='byline'] {
  margin-block-start: var(--spacer-3);
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  opacity: 0.75;
  font-feature-settings: 'case' 1;
}

[class*='overline'] {
  margin-block-end: var(--spacer-3);
}

[class*='keyline'] {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: var(--spacer-3);

  &::before,
  &::after {
    align-self: center;
    content: '';
    border-top: 1px solid black;
  }
}

[href*='tel'],
[type*='tel'] {
  font-feature-settings: 'case' 1;
}

.quote {
  padding-inline-start: 1.77rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-2);
  border-inline-start: 5px solid;
  font-feature-settings: 'case' 1;
}

.price {
  font-variant-numeric: tabular-nums;
  // font-feature-settings: 'tnum' 1, 'zero' 1, 'case' 1;
}

time {
  --flow-space: var(--spacer-2);

  display: inline-block;
  align-self: center;
  font-style: italic;
  font-weight: 500;
  color: var(--foreground-a80);
  // text-transform: uppercase;
  // font-feature-settings: 'case' 1;
  font-feature-settings: 'tnum' 1;
}

strong {
  font-style: normal;
  font-weight: 500;
}

em {
  font-style: italic;
}

/* .text-uppercase {
   text-transform: uppercase;
   letter-spacing: var(--letter-spacing-2);
} */

// Text decoration
.has-dropcap {
  @include config.drop-cap(6rem, 0.65);
}

.sideways {
  @include config.respond('tablet') {
    @include config.sideways();
  }
}
